.featured-products-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
}

.featured-products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-products-container h2{
    width: 100%;
}

.featured-products-list{
    width: auto;
    margin: 20px 0px 20px 0px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.landing{
    width: 320px;
    border: solid 1px gray;
}

.landing img{
    width: 320px;
}

.featured-details{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px 0px;
}

.featured-price{
    width: 110px;
    display: flex;
    flex-direction: column;
}

.featured-price div{
    display: flex;
    justify-content: space-between;
}